[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "awesome-terminal-fonts"]
	path = awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen
