[user]
	email = danwizard208@gmail.com
	name = Daniel Asher Resnick
[push]
	default = simple
[diff]
	tool = vimdiff
[core]
	excludesfile = ~/.gitignore_global
[alias]
	con = config --global
	alias = "!f() { git config --global alias.$1 \"$2\"; }; f"
	last = log -1 HEAD
	co = checkout
	cm = commit
	st = status
	dt = difftool
	a = add
	conl = config --global --list
	unalias = "!f() { git config --global --unset alias.$1; }; f"
	fstart = flow feature start
	unstage = reset HEAD
	cmm = commit -m
	uncommit = reset HEAD^
	goback = reset --hard HEAD^
	plr = pull --rebase
	fmod = diff --name-status
	h = help
	preview = diff --cached
	u = add -u
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[include]
	path = ./.gitconfig.local
